@page
@model LoCoMPro.Pages.VerRegistros.VerRegistrosModel
@{
    ViewData["Title"] = "Ver Registros";
}

<head>
    <link rel="stylesheet" href="~/css/Pages/VerRegistros/VerRegistros.css" asp-append-version="true" />
    <script src="~/js/Pages/Busqueda/paginador.js"></script>
    <script>
        // Función de traducción de codificación
        function traducirCodificacion(cadena) {
            var elementoTemporal = document.createElement("div");
            elementoTemporal.innerHTML = cadena;
            return elementoTemporal.textContent;
        }

        // Obtener resultados de busqueda principal
        function obtenerResultados() {
            var resultadosDecodificados = traducirCodificacion('@Model.resultadoRegistros')
            return JSON.parse(resultadosDecodificados);
        }

        var resultados = obtenerResultados();
        var paginador = new Paginador(5);
        var paginaDefault = 1;
    </script>
    <script src="~/js/Pages/VerRegistros/clienteVerRegistros.js"></script>
</head>

<div>
    <div class="InfoProducto">
        <div class="VerRegistros-contenedor">
            <div class="VerRegistros-contenedor-fila">
                <div style="width:85%;">
                    <div class="VerRegistros-contenedor-fila">
                        <div class="VerRegistros-contenedor-caja-texto">
                            <div class="TituloProductoContainer">
                                <h2 class="TituloProducto">@Model.NombreProducto</h2>
                            </div>
                            <!-- Create three columns for product details -->
                            <div class="ProductInfoColumns">
                                <div class="InfoColumn">
                                    <p>Tienda: @Model.NombreTienda</p>
                                    <p>Categoría: @Model.NombreCategoria</p>
                                </div>
                                <div class="InfoColumn">
                                    <p>Marca: @Model.NombreMarca</p>
                                    <p>Unidad: @Model.NombreUnidad</p>
                                </div>
                                <div class="InfoColumn">
                                    <p>Provincia: @Model.NombreProvincia</p>
                                    <p>Cantón: @Model.NombreCanton</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="VerRegistros-contenedor-fila">
        <div class="VerRegistros-agrupamientos">
            <div class="VerRegistros-contenedor-agrupamientos" id="Contenedoragrupamientos">
                <label class="InfoColumnBold">Agrupar por:</label>
                    <label>
                        <input type="checkbox" name="Día" value = "Día" /> Día
                    </label>
                    <label>
                        <input type="checkbox" name="Semana" value="Semana" /> Semana
                    </label>
                    <label>
                        <input type="checkbox" name="Mes" value="Mes" /> Mes
                    </label>
                    <label>
                        <input type="checkbox" name="Año" value="Año" /> Año
                    </label>
            </div>
        </div>
        <!-- Tabkas de resultados -->
        <div class="VerRegistros-tabla">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Precio</th>
                        <th>Calificación</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="VerRegistros-tabla-resultados" id="CuerpoResultados"> </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Paginación -->
<div class="VerRegistros-contenedor-paginacion">
    <div class="VerRegistros-contenedor-caja-paginacion">
        <div id="PaginaPrevia" class="VerRegistros-boton-paginacion" onclick="pasarPagina(productosVM.IndicePagina - 1)">
            Anterior
        </div>
        <div id="SinPaginaPrevia" class="VerRegistros-boton-paginacion-deshabilitado">
            Anterior
        </div>

        <span id="TextoPaginacion" class="VerRegistros-texto-paginacion">  </span>

        <div id="PaginaSiguiente" class="VerRegistros-boton-paginacion" onclick="pasarPagina(productosVM.IndicePagina + 1)">
            Siguiente
        </div>
        <div id="SinPaginaSiguiente" class="VerRegistros-boton-paginacion-deshabilitado">
            Siguiente
        </div>
    </div>
</div>


<script>
    var productosVM = paginar(paginaDefault);

    // Renderizar
    renderizarPaginacion();
    renderizarTabla(productosVM);
</script>

