@page "{handler?}"
@model LoCoMPro.Pages.Busqueda.BusquedaAvanzadaModel
@{
    ViewData["Title"] = "Busqueda";
}

<!-- Metadatos -->
<head>
    <!-- Enlace al archivo CSS con los estilos de la página -->
    <!-- El valor true hace que la versión se agregue a la URL -->
    <link rel="stylesheet" href="~/css/Pages/Busqueda/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Busqueda/Avanzada.css" asp-append-version="true" />
    <script src="~/js/Pages/Busqueda/filtrador.js" asp-append-version="true"></script>
    <script src="~/js/Pages/Busqueda/ordenador.js" asp-append-version="true"></script>
    <script src="~/js/Pages/Busqueda/paginador.js" asp-append-version="true"></script>
    <!-- Inclusiones para autocompletado -->
    <link href="~/js/jquery/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery/external/jquery/jquery.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/jquery/jquery-ui.min.js" type="text/javascript" asp-append-version="true"></script>
    <link href="~/js/jquery/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Pages/AgregarProducto/Autocomplete.css">
    <!-- Enlace al stylesheet de Google para agregar íconos de flechas -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script>
        // Función de traducción de codificación
        function traducirCodificacion(cadena) {
            var elementoTemporal = document.createElement("div");
            elementoTemporal.innerHTML = cadena;
            return elementoTemporal.textContent;
        }

        // Obtener resultados de busqueda principal
        function obtenerResultados() {
            var resultadosDecodificados = traducirCodificacion('@Model.resultadosBusqueda')
            return JSON.parse(resultadosDecodificados);
        }

        // Cliente
        var resultados = obtenerResultados();
        var filtrador = new FiltradorDeBusqueda();
        var ordenador = new OrdenadorDeBusqueda();;
        var paginador = new Paginador(@Model.resultadosPorPagina);
        var paginaDefault = @Model.paginaDefault;
        var filtrosDesplegados = Array(5).fill(0);
    </script>
    <script src="~/js/Pages/Busqueda/cliente.js" asp-append-version="true"></script>
</head>
<div>
    <div class="BusquedaIndice-contenedor-fila">
        <div class="BusquedaIndice-contenedor">
            <form class="BusquedaIndice-contenedor-form" method="get" asp-page-handler="BuscarAvanzado" id="BusquedaFormulario">
                <div class="BusquedaIndice-contenedor-fila">
                    <div style="width:85%;">
                        <div class="BusquedaIndice-contenedor-fila">
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Producto
                                </div>
                                <div class="BusquedaAvanzada-caja-texto">
                                    <!-- Cuadro de texto para el nombre del producto -->
                                    <input type="text" name="nombreProducto" asp-for="producto" id="CajaDeTextoProducto" autocomplete="off">
                                </div>
                            </div>
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Marca
                                </div>
                                <div class="BusquedaAvanzada-caja-texto">
                                    <!-- Cuadro de texto para el nombre de la marca -->
                                    <input type="text" name="nombreMarca" asp-for="marca" id="CajaDeTextoMarca">
                                </div>
                            </div>
                        </div>
                        <div class="BusquedaIndice-contenedor-fila">
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Provincia
                                </div>
                                <select name="nombreProvincia" asp-for="provincia" id="CajaDeSeleccionProvincia" class="BusquedaAvanzada-caja-combo">
                                    <option name="provincia" value="">Todas</option>
                                    @foreach (var provincia in Model.provincias)
                                    {
                                        <option name="provincia" value="@provincia.nombre">@provincia.nombre</option>
                                    }
                                </select>
                            </div>
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Cantón
                                </div>
                                <select name="nombreCanton" asp-for="canton" id="CajaDeSeleccionCanton" class="BusquedaAvanzada-caja-combo">
                                    <option name="canton" value="">Todos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Botón de búsqueda -->
                    <button class="BusquedaAvanzada-boton-busqueda" onclick="return validarFormulario();">
                        <!-- Icono de búsqueda -->
                        <img src="~/img/white_search_icon.png" id="imagenBusqueda" alt="Buscar" class="BusquedaIndice-icono-busqueda" />
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="BusquedaIndice-contenedor-fila" id="FilaDeFiltrosYResultados">
        <form class="BusquedaIndice-filtros">
            <!-- Botones de filtros -->
            <button type="button" class="BusquedaIndice-boton-filtros" onclick="aplicarFiltrosFuncion()" id="AplicarFiltrosBoton"> Aplicar filtros</button>
            <button type="button" class="BusquedaIndice-boton-filtros" onclick="limpiarFiltrosFuncion()" style="margin-bottom:5px;" id="LimpiarFiltrosBoton"> Limpiar filtros</button>
            <div lang="es" class="BusquedaIndice-contenedor-filtros" id="ContenedorFiltros">
                <div class="BusquedaIndice-dropdown" id="Dropdown1">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro1" onclick="toggleDesplegable(1)">Provincia</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro1">
                        <!-- Contenido del menú desplegable -->
                        @{
                            foreach (var provincia in Model.provinciasV)
                            {
                                <label>
                                    <input type="checkbox" name="provincia" value="@provincia" /> @provincia
                                </label>
                            }
                        }
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" id="Dropdown2">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro2" onclick="toggleDesplegable(2)">Cantón</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro2">
                        <!-- Contenido del menú desplegable -->
                        @{
                            foreach (var canton in Model.cantonesV)
                            {
                                <label>
                                    <input type="checkbox" name="canton" value="@canton" /> @canton
                                </label>
                            }
                        }
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" id="Dropdown3">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro3" onclick="toggleDesplegable(3)">Tienda</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro3">
                        <!-- Contenido del menú desplegable -->
                        @{
                            foreach (var tienda in Model.tiendasV)
                            {
                                <label>
                                    <input type="checkbox" name="tienda" value="@tienda" /> @tienda
                                </label>
                            }
                        }
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" id="Dropdown4">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro4" onclick="toggleDesplegable(4)">Marca</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro4">
                        <!-- Contenido del menú desplegable -->
                        @{
                            foreach (var marca in Model.marcasV)
                            {
                                <label>
                                    <input type="checkbox" name="marca" value="@marca" /> @marca
                                </label>
                            }
                        }
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" id="Dropdown5">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro5" onclick="toggleDesplegable(5)">Categoría</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro5">
                        <!-- Contenido del menú desplegable -->
                        @{
                            foreach (var categoria in Model.categoriasV)
                            {
                                <label>
                                    <input type="checkbox" name="categoria" value="@categoria" /> @categoria
                                </label>
                            }
                        }
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown">
                    <label class="BusquedaIndice-dropdown-precio-label" id="BotonFiltro6">Precio</label>
                    <div id="ContenidoFiltro6">
                        <input type="text" class="BusquedaIndice-dropdown-precio-input" inputmode="decimal" name="precioMin" id="precioMin" placeholder="Mínimo" />
                        <input type="text" class="BusquedaIndice-dropdown-precio-input" inputmode="decimal" name="precioMax" id="precioMax" placeholder="Máximo" />
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown">
                    <label class="BusquedaIndice-dropdown-precio-label" id="BotonFiltro7">Fecha</label>
                    <!-- Contenido del menú desplegable -->
                    <div id="ContenidoFiltro7">
                        <input type="date" id="fechaMin" style="margin-top: 10px;" />
                        <input type="date" id="fechaMax" style="margin-top: 10px;" />
                    </div>
                </div>
            </div>
        </form>

        <!-- Tabla de resultados -->
        <div class="BusquedaIndice-tabla">
            <table>
                <thead>
                    <tr>
                        <th style="padding-left:10px;">
                            <!-- Nombre de columna -->
                            <label class="BusquedaIndice-titulo-columna" onclick="ordenar('nombre')">
                                @Html.DisplayNameFor(model => model.productoVM.nombre)
                            </label>
                            <!-- Flecha de ordenamiento descendiente -->
                            <span id="DescendenteNombre" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('nombre')">
                                expand_less
                            </span>
                            <!-- Flecha de ordenamiento ascendiente -->
                            <span id="AscendenteNombre" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('nombre')">
                                expand_more
                            </span>
                        </th>
                        <th>
                            <!-- Nombre de columna -->
                            <label class="BusquedaIndice-titulo-columna" onclick="ordenar('categoria')">
                                @Html.DisplayNameFor(model => model.productoVM.categoria)
                            </label>
                            <!-- Flecha de ordenamiento descendiente -->
                            <span id="DescendenteCategoria" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('categoria')">
                                expand_less
                            </span>
                            <!-- Flecha de ordenamiento ascendiente -->
                            <span id="AscendenteCategoria" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('categoria')">
                                expand_more
                            </span>
                        </th>
                        <th>
                            <!-- Nombre de columna -->
                            <label class="BusquedaIndice-titulo-columna" onclick="ordenar('marca')">
                                @Html.DisplayNameFor(model => model.productoVM.marca)
                            </label>
                            <!-- Flecha de ordenamiento descendiente -->
                            <span id="DescendenteMarca" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('marca')">
                                expand_less
                            </span>
                            <!-- Flecha de ordenamiento ascendiente -->
                            <span id="AscendenteMarca" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('marca')">
                                expand_more
                            </span>
                        </th>
                        <th style="padding-left:37px">
                            <!-- Nombre de columna -->
                            <label class="BusquedaIndice-titulo-columna" onclick="ordenar('precio')">
                                @Html.DisplayNameFor(model => model.productoVM.precio)
                            </label>
                            <!-- Flecha de ordenamiento descendiente -->
                            <span id="DescendentePrecio" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('precio')">
                                expand_less
                            </span>
                            <!-- Flecha de ordenamiento ascendiente -->
                            <span id="AscendentePrecio" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('precio')">
                                expand_more
                            </span>
                        </th>
                        <th style="padding-left:24px;">
                            <!-- Nombre de columna -->
                            <label class="BusquedaIndice-titulo-columna" onclick="ordenar('unidad')">
                                @Html.DisplayNameFor(model => model.productoVM.unidad)
                            </label>
                            <!-- Flecha de ordenamiento descendiente -->
                            <span id="DescendenteUnidad" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('unidad')">
                                expand_less
                            </span>
                            <!-- Flecha de ordenamiento ascendiente -->
                            <span id="AscendenteUnidad" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('unidad')">
                                expand_more
                            </span>
                        </th>
                        <th style="padding-left:20px;">
                            <!-- Nombre de columna -->
                            <label class="BusquedaIndice-titulo-columna" onclick="ordenar('fecha')">
                                @Html.DisplayNameFor(model => model.productoVM.fecha)
                            </label>
                            <!-- Flecha de ordenamiento descendiente -->
                            <span id="DescendenteFecha" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('fecha')">
                                expand_less
                            </span>
                            <!-- Flecha de ordenamiento ascendiente -->
                            <span id="AscendenteFecha" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('fecha')">
                                expand_more
                            </span>
                        </th>
                        <th style="padding-left:20px;">
                            <!-- Nombre de columna -->
                            <label class="BusquedaIndice-titulo-columna" onclick="ordenar('tienda')">
                                @Html.DisplayNameFor(model => model.productoVM.tienda)
                            </label>
                            <!-- Flecha de ordenamiento descendiente -->
                            <span id="DescendenteTienda" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('tienda')">
                                expand_less
                            </span>
                            <!-- Flecha de ordenamiento ascendiente -->
                            <span id="AscendenteTienda" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('tienda')">
                                expand_more
                            </span>
                        </th>
                        <th>
                            <!-- Nombre de columna -->
                            <label class="BusquedaIndice-titulo-columna" onclick="ordenar('provincia')">
                                @Html.DisplayNameFor(model => model.productoVM.provincia)
                            </label>
                            <!-- Flecha de ordenamiento descendiente -->
                            <span id="DescendenteProvincia" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('provincia')">
                                expand_less
                            </span>
                            <!-- Flecha de ordenamiento ascendiente -->
                            <span id="AscendenteProvincia" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('provincia')">
                                expand_more
                            </span>
                        </th>
                        <th style="padding-left:10px;">
                            <!-- Nombre de columna -->
                            <label class="BusquedaIndice-titulo-columna" onclick="ordenar('canton')">
                                @Html.DisplayNameFor(model => model.productoVM.canton)
                            </label>
                            <!-- Flecha de ordenamiento descendiente -->
                            <span id="DescendenteCanton" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('canton')">
                                expand_less
                            </span>
                            <!-- Flecha de ordenamiento ascendiente -->
                            <span id="AscendenteCanton" class="material-symbols-outlined BusquedaFlechaOrdenamiento" onclick="ordenar('canton')">
                                expand_more
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody class="BusquedaIndice-tabla-resultados" id="ResultadosDeBusqueda"></tbody>
            </table>
        </div>
    </div>
</div>

    <!-- Paginación -->
    <div class="BusquedaIndice-contenedor-paginacion">
        <div class="BusquedaIndice-contenedor-caja-paginacion">
            <!-- Botón anterior -->
            <div id="PaginaPrevia" class="BusquedaIndice-boton-paginacion" onclick="pasarPagina(productosVM.IndicePagina - 1)">
                Anterior
            </div>
            <div id="SinPaginaPrevia" class="BusquedaIndice-boton-paginacion-deshabilitado">
                Anterior
            </div>

            <!-- Botones de número de página -->
            <span id="TextoPaginacion" class="BusquedaIndice-texto-paginacion">  </span>

            <!-- botón siguiente -->
            <div id="PaginaSiguiente" class="BusquedaIndice-boton-paginacion" onclick="pasarPagina(productosVM.IndicePagina + 1)">
                Siguiente
            </div>
            <div id="SinPaginaSiguiente" class="BusquedaIndice-boton-paginacion-deshabilitado">
                Siguiente
            </div>
        </div>
    </div>

<!-- Función para autocompletar -->
<script type="text/javascript">
    $("#CajaDeTextoMarca").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: 'Autocompletado',
                type: 'GET',
                dataType: 'json',
                data: { term: document.getElementById("CajaDeTextoMarca").value },
                success: function (data) {
                    response(data);
                }
            });
        }
    });
</script>

<script>
    ordenador.esconderFlechas();
    formatoPrecioFiltro();
    limpiarInput("precioMin", "precioMax");
    limpiarInput("fechaMin", "fechaMax");
</script>

<script>
    var productosVM = paginar(paginaDefault);

    // Renderizar
    renderizarPaginacion();
    renderizarFiltros();
    renderizarTabla(productosVM);

    cajaProducto = document.getElementById("CajaDeTextoProducto");
    cajaMarca = document.getElementById("CajaDeTextoMarca");
    cajaProvincia = document.getElementById("CajaDeSeleccionProvincia");
    cajaCanton = document.getElementById("CajaDeSeleccionCanton");

    // Validar formulario
    function validarFormulario() {
        if (!cajaProducto.value &&
            !cajaMarca.value &&
            !cajaProvincia.value &&
            !cajaCanton.value) {
            return false;
        } else {
            return true;
        }
    }
</script>

<script>
    // Obtiene las cajas de selección
    const cajaDeSeleccionProvincia = document.getElementById("CajaDeSeleccionProvincia");
    const cajaDeSeleccionCanton = document.getElementById("CajaDeSeleccionCanton");

    // Actualizar cantones
    async function actualizarCantones() {
        // Obtener la provincia seleccionada
        var provinciaSeleccionada = cajaDeSeleccionProvincia.value;

        cajaDeSeleccionCanton.innerHTML = "";

        var opcionNula = document.createElement("option");
        opcionNula.value = "";
        opcionNula.text = "Todos";
        cajaDeSeleccionCanton.appendChild(opcionNula);

        // Si se eligió una provincia
        if (provinciaSeleccionada) {
            // Usar el Fetch API para llamar al handler de CantonesPorProvincia
            await fetch(`/Busqueda/Avanzada?handler=CantonesPorProvincia&provincia=${provinciaSeleccionada}`)
                .then(response => response.json())
                .then(data => {
                    // Por cada cantón
                    data.forEach(canton => {
                        // Crear una opción
                        var opcion = document.createElement("option");
                        // Establecer su valor y texto de mostrado
                        opcion.value = canton.nombre;
                        opcion.text = canton.nombre;
                        // Agregarla a la caja de selección de cantón
                        cajaDeSeleccionCanton.appendChild(opcion);
                    });
                });
        }
    }

    function colocarCanton(canton) {
        const opciones = cajaDeSeleccionCanton.options;
        for (let i = 0; i < opciones.length; i++) {
            if (opciones[i].value === canton) {
                opciones[i].selected = true;
                break;
            }
        }
    }

    // Llamar a esta función cada vez que se produzca un cambio en
    // la caja de selección de provincia
    cajaDeSeleccionProvincia.addEventListener("change", async function () {
        await actualizarCantones();
    });

    async function revisarCanton() {
        if (@Model.buscarPorCanton === 1) {
            await actualizarCantones();
            colocarCanton('@Html.Raw(Model.canton)');
            cajaDeSeleccionCanton.value = '@Html.Raw(Model.canton)';
        }
    }
    
    revisarCanton();
</script>

<script>
    function aplicarFiltrosFuncion() {
        cerrarDesplegados();
        filtrar();
    }

    function limpiarFiltrosFuncion() {
        cerrarDesplegados();
        limpiarFiltros();
    }

    function toggleDesplegable(index) {
        var dropdownContent = document.getElementById('ContenidoFiltro' + index);
        var dropdownButton = document.getElementById('BotonFiltro' + index);
        var dropdown = document.getElementById('Dropdown' + index);
        if (dropdownContent.style.display === 'block') {
            ocultarDesplegable(index);
            dropdown.classList.toggle('clicked');
            filtrosDesplegados[index - 1] = 0;
        } else {
            cerrarDesplegados();
            mostrarDesplegable(index);
            dropdown.classList.toggle('clicked');
            filtrosDesplegados[index - 1] = 1;
        }
    }

    function cerrarDesplegados() {
        for (var i = 0; i < 5; i++) {
            if (filtrosDesplegados[i] === 1) {
                console.log("Voy a borrar");
                toggleDesplegable(i + 1);
            }
        }
    }

    function mostrarDesplegable(index) {
        var dropdownContent = document.getElementById('ContenidoFiltro' + index);
        dropdownContent.style.display = 'block';
    }

    function ocultarDesplegable(index) {
        var dropdownContent = document.getElementById('ContenidoFiltro' + index);
        dropdownContent.style.display = 'none';
    }

</script>

<script src="~/js/Pages/Busqueda/dropdown.js" asp-append-version="true"></script>