@page
@model LoCoMPro.Pages.Busqueda.BusquedaVMModel
@{
    ViewData["Title"] = "Busqueda";
}

<!-- Metadatos -->
<head>
    <!-- Enlace al archivo CSS con los estilos de la página -->
    <!-- El valor true hace que la versión se agregue a la URL -->
    <link rel="stylesheet" href="~/css/Pages/Busqueda/Index.css" asp-append-version="true" />
</head>
<div>
    <div class="BusquedaIndice-contenedor-fila">
        <div class="BusquedaIndice-contenedor">
            <form method="get" class="BusquedaIndice-contenedor-form">
                <div class="BusquedaIndice-contenedor-fila">
                    <div style="width:85%;">
                        <div class="BusquedaIndice-contenedor-fila">
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Producto
                                </div>
                                <div class="BusquedaIndice-caja-texto">
                                    <!-- Cuadro de texto para el nombre del producto -->
                                    <input type="text" name="nombreProducto" asp-for="producto" id="CajaDeTextoProducto" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botón de búsqueda -->
                    <button class="BusquedaIndice-boton-busqueda">
                        <!-- Icono de búsqueda -->
                        <img src="~/img/white_search_icon.png" id="imagenBusqueda" alt="Buscar" class="BusquedaIndice-icono-busqueda" />
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Tabla de resultado -->
<div class="BusquedaIndice-tabla">
    <table>
        <thead>
            <tr>
                <th>
                    <!-- Nombre de columna -->
                    @Html.DisplayNameFor(model => model.productosVM[0].nombre)
                </th>
                <th>
                    <!-- Nombre de columna -->
                    <a asp-page="./Index"
                       asp-route-sortBy="precio"
                       asp-route-sortOrder="@(Model.SortBy == "precio" && Model.SortOrder == "asc" ? "desc" : "asc")"
                       asp-route-indicePagina="1"
                       asp-route-filtroProducto="@Model.producto">
                        @Html.DisplayNameFor(model => model.productosVM[0].precio)
                    </a>
                </th>
                <th>
                    <!-- Nombre de columna -->
                    @Html.DisplayNameFor(model => model.productosVM[0].fecha)
                </th>
                <th>
                    <!-- Nombre de columna -->
                    @Html.DisplayNameFor(model => model.productosVM[0].tienda)
                </th>
                <th>
                    <!-- Nombre de columna -->
                    @Html.DisplayNameFor(model => model.productosVM[0].provincia)
                </th>
                <th>
                    <!-- Nombre de columna -->
                    @Html.DisplayNameFor(model => model.productosVM[0].canton)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="BusquedaIndice-tabla-resultados" id="tablaProductos">
            @foreach (var item in Model.productosVM)
            {
                <tr>
                    <td>
                        <!-- Valor de la columna -->
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        <!-- Valor de la columna -->
                        @Html.DisplayFor(modelItem => item.precio) / @Html.DisplayFor(modelItem => item.unidad)
                    </td>
                    <td>
                        <!-- Valor de la columna -->
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        <!-- Valor de la columna -->
                        @Html.DisplayFor(modelItem => item.tienda)
                    </td>
                    <td>
                        <!-- Valor de la columna -->
                        @Html.DisplayFor(modelItem => item.provincia)
                    </td>
                    <td>
                        <!-- Valor de la columna -->
                        @Html.DisplayFor(modelItem => item.canton)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var prevDeshabilitado = !Model.productosPaginados.TienePaginaPrevia ? "disabled" : "";
    var proxDeshabilitado = !Model.productosPaginados.TieneProximaPagina ? "disabled" : "";
}

<div class="BusquedaIndice-contenedor-paginacion">
    <!-- Container box -->
    <div class="BusquedaIndice-contenedor-caja-paginacion">
        @{
            if (Model.productosPaginados.TienePaginaPrevia)
            {
                <a asp-page="./Index"
                   asp-route-indicePagina="@(Model.productosPaginados.IndicePagina - 1)"
                   asp-route-filtroProducto="@(Model.producto)"
                   class="BusquedaIndice-boton-paginacion">
                    Anterior
                </a>
            }
            else
            {
                <span class="BusquedaIndice-boton-paginacion-deshabilitado"> Anterior </span>
            }

            var currentIndex = Model.productosPaginados.IndicePagina;
            <span class="BusquedaIndice-texto-paginacion"> @(currentIndex) </span>

            if (Model.productosPaginados.TieneProximaPagina)
            {
                <a asp-page="./Index"
                   asp-route-indicePagina="@(Model.productosPaginados.IndicePagina + 1)"
                   asp-route-filtroProducto="@(Model.producto)"
                   class="BusquedaIndice-boton-paginacion">
                    Siguiente
                </a>
            }
            else
            {
                <span class="BusquedaIndice-boton-paginacion-deshabilitado"> Siguiente </span>
            }
        }
    </div>
</div>