@page
@model LoCoMPro.Pages.Busqueda.BusquedaModel
@{
    ViewData["Title"] = "Busqueda";
}

<!-- Metadatos -->
<head>
    <!-- Enlace al archivo CSS con los estilos de la página -->
    <!-- El valor true hace que la versión se agregue a la URL -->
    <link rel="stylesheet" href="~/css/Pages/Busqueda/Index.css" asp-append-version="true" />
</head>
<div>
    <div class="BusquedaIndice-contenedor-fila">
        <div class="BusquedaIndice-contenedor">
            <form class="BusquedaIndice-contenedor-form" method="get">
                <div class="BusquedaIndice-contenedor-fila">
                    <div style="width:85%;">
                        <div class="BusquedaIndice-contenedor-fila">
                            <div class="BusquedaIndice-contenedor-caja-texto">
                                <div class="BusquedaIndice-contenedor-texto">
                                    Producto
                                </div>
                                <div class="BusquedaIndice-caja-texto">
                                    <!-- Cuadro de texto para el nombre del producto -->
                                    <input type="text" name="nombreProducto" asp-for="producto" id="CajaDeTextoProducto" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botón de búsqueda -->
                    <button class="BusquedaIndice-boton-busqueda">
                        <!-- Icono de búsqueda -->
                        <img src="~/img/white_search_icon.png" id="imagenBusqueda" alt="Buscar" class="BusquedaIndice-icono-busqueda" />
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="BusquedaIndice-contenedor-fila">
        <form class="BusquedaIndice-filtros">
            <!-- Botones de filtros -->
            <button type="button" class="BusquedaIndice-boton-filtros" onclick="aplicarFiltros()"> Aplicar filtros</button>
            <button type="button" class="BusquedaIndice-boton-filtros" onclick="limpiarFiltros()" style="margin-bottom:5px;"> Limpiar filtros</button>
            <div class="BusquedaIndice-contenedor-filtros" id="ContenedorFiltros">
                <div class="BusquedaIndice-dropdown" onmouseenter="showdropdown(1)" onmouseleave="hidedropdown(1)">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro1">Provincia</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro1">
                        <!-- Contenido del menú desplegable -->
                        @{
                            foreach (var provincia in Model.provinciasV)
                            {
                                var isChecked = "";
                                if (Model.provincias.Length > 0)
                                {
                                    isChecked = Model.provincias.Contains(provincia) ? "checked" : ""; // Check if provincia is in the model's provincias array
                                }

                                <label>
                                    <input type="checkbox" name="provincia" value="@provincia" @isChecked /> @provincia
                                </label>
                            }
                        }
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" onmouseenter="showdropdown(2)" onmouseleave="hidedropdown(2)">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro2">Canton</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro2">
                        <!-- Contenido del menú desplegable -->
                        @{
                            foreach (var canton in Model.cantonesV)
                            {
                                var isChecked = "";
                                if (Model.cantones.Length > 0)
                                {
                                    isChecked = Model.cantones.Contains(canton) ? "checked" : ""; // Check if provincia is in the model's provincias array
                                }

                                <label>
                                    <input type="checkbox" name="canton" value="@canton" @isChecked /> @canton
                                </label>
                            }
                        }
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" onmouseenter="showdropdown(3)" onmouseleave="hidedropdown(3)">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro3">Tienda</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro3">
                        <!-- Contenido del menú desplegable -->
                        @foreach (var tienda in Model.tiendasV)
                        {
                            <label>
                                <input type="checkbox" name="tienda" value="@tienda" /> @tienda
                            </label>
                        }
                    </div>
                </div>
                <div class="BusquedaIndice-dropdown" onmouseenter="showdropdown(4)" onmouseleave="hidedropdown(4)">
                    <button type="button" class="BusquedaIndice-boton-dropdown" id="BotonFiltro4">Marca</button>
                    <div class="BusquedaIndice-dropdown-content" id="ContenidoFiltro4">
                        <!-- Contenido del menú desplegable -->
                        @foreach (var marca in Model.marcasV)
                        {
                            <label>
                                <input type="checkbox" name="marca" value="@marca" /> @marca
                            </label>
                        }
                    </div>
                </div>
            </div>
        </form>
        <!-- Tabla de resultados -->
        <div class="BusquedaIndice-tabla">
            <table>
                <thead>
                    <tr>
                        <th>
                            <!-- Nombre de columna -->
                            @Html.DisplayNameFor(model => model.productosVM[0].nombre)
                        </th>
                        <th>
                            <!-- Nombre de columna -->
                            @Html.DisplayNameFor(model => model.productosVM[0].marca)
                        </th>
                        <th>
                            <!-- Nombre de columna -->
                            <a asp-page="./Index"
                               asp-route-ordenadoPrecio="precio"
                               asp-route-producto="@Model.producto" asp-route-filtroProducto="@Model.producto">
                                @Html.DisplayNameFor(model => model.productosVM[0].precio)
                            </a>
                        </th>
                        <th>
                            <!-- Nombre de columna -->
                            @Html.DisplayNameFor(model => model.productosVM[0].fecha)
                        </th>
                        <th>
                            <!-- Nombre de columna -->
                            @Html.DisplayNameFor(model => model.productosVM[0].tienda)
                        </th>
                        <th>
                            <!-- Nombre de columna -->
                            @Html.DisplayNameFor(model => model.productosVM[0].provincia)
                        </th>
                        <th>
                            <!-- Nombre de columna -->
                            @Html.DisplayNameFor(model => model.productosVM[0].canton)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="BusquedaIndice-tabla-resultados" id="productosVM">
                    @foreach (var item in Model.productosVM)
                    {
                        <tr>
                            <td>
                                <!-- Valor de la columna -->
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                <!-- Valor de la columna -->
                                @Html.DisplayFor(modelItem => item.marca)
                            </td>
                            <td>
                                <!-- Valor de la columna -->
                                @Html.DisplayFor(modelItem => item.precio) / @Html.DisplayFor(modelItem => item.unidad)
                            </td>
                            <td>
                                <!-- Valor de la columna -->
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                <!-- Valor de la columna -->
                                @Html.DisplayFor(modelItem => item.tienda)
                            </td>
                            <td>
                                <!-- Valor de la columna -->
                                @Html.DisplayFor(modelItem => item.provincia)
                            </td>
                            <td>
                                <!-- Valor de la columna -->
                                @Html.DisplayFor(modelItem => item.canton)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{
    var prevDeshabilitado = !Model.productosVM.TienePaginaPrevia ? "disabled" : "";
    var proxDeshabilitado = !Model.productosVM.TieneProximaPagina ? "disabled" : "";
}

<div class="BusquedaIndice-contenedor-paginacion">
    <!-- Container box -->
    <div class="BusquedaIndice-contenedor-caja-paginacion">
        @{
            if (Model.productosVM.TienePaginaPrevia)
            {
                <a asp-page="./Index"
                   asp-route-indicePagina="@(Model.productosVM.IndicePagina - 1)"
                   asp-route-filtroProducto="@(Model.producto)"
                   class="BusquedaIndice-boton-paginacion">
                    Anterior
                </a>
            }
            else
            {
                <span class="BusquedaIndice-boton-paginacion-deshabilitado"> Anterior </span>
            }

            var currentIndex = Model.productosVM.IndicePagina;
            <span class="BusquedaIndice-texto-paginacion"> @(currentIndex) </span>

            if (Model.productosVM.TieneProximaPagina)
            {
                <a asp-page="./Index"
                   asp-route-indicePagina="@(Model.productosVM.IndicePagina + 1)"
                   asp-route-filtroProducto="@(Model.producto)"
                   class="BusquedaIndice-boton-paginacion">
                    Siguiente
                </a>
            }
            else
            {
                <span class="BusquedaIndice-boton-paginacion-deshabilitado"> Siguiente </span>
            }
        }
    </div>
</div>

@section Scripts {
    <script>
        // Boton de buscar
        cajaProducto = document.getElementById("CajaDeTextoProducto");

        // Validad formulario
        function validarFormulario() {
            if (!cajaProducto.value) {
                return false;
            } else {
                return true;
            }
        }
    </script>
    <script src="~/js/Pages/Busqueda/dropdown.js"></script>
}