@page
@model ModeloFavoritos
@{
    ViewData["Title"] = "Favoritos";
}

<!-- Metadatos -->
<head>
    <title>Favoritos</title>
    <!-- Enlace al archivo CSS con los estilos de la página -->
    <!-- El valor true hace que la versión se agregue a la URL -->
    <link rel="stylesheet" href="~/css/Pages/Cuenta/Favoritos.css" asp-append-version="true" />
    <!-- Enlace a Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="~/js/Pages/Cuenta/paginador.js" asp-append-version="true"></script>
    <script>
        // Habilitar paginacion
        paginacionHabilitada = true;

        // Función de traducción de codificación
        function traducirCodificacion(cadena) {
            var elementoTemporal = document.createElement("div");
            elementoTemporal.innerHTML = cadena;
            return elementoTemporal.textContent;
        }

        // Obtener resultados de busqueda principal
        function obtenerResultados() {
            var resultadosDecodificados = traducirCodificacion('@Model.favoritos');
            return JSON.parse(resultadosDecodificados);
        }

        // Cliente
        if ('@Model.favoritos' != "Sin resultados") {
            var resultados = obtenerResultados();
            var paginador = new Paginador(@Model.resultadosPorPagina);
            var paginaDefault = @Model.paginaDefault;
        }
    </script>
    <script src="~/js/Pages/Cuenta/Favoritos/cliente.js" asp-append-version="true"></script>
</head>
<div>
    <div id="ContenedorPrincipal" style="display: flex;flex-direction: column;">
        @if (Model.favoritos != "Sin resultados" && !(User.Identity == null || !User.Identity.IsAuthenticated))
        {
            <!-- Botón de búsqueda -->
            <a asp-page="/Busqueda/Favoritos" id="BotonBusqueda" class="Favoritos-boton" style="display: inline-flex; text-align: center; text-decoration: none; color: white; align-items: center;justify-content: center;">
                Ubicar productos
            </a>
            <!-- Tabla de resultados -->
            <div class="Favoritos-tabla">
                <table>
                    <caption style="display:none;">Tabla de favoritos</caption>
                    <thead>
                        <tr>
                            <!-- Columna vacía para el corazón de favoritos -->
                            <th></th>
                            <th style="padding-left:10px;">
                                <!-- Columna con el nombre del producto -->
                                @Html.DisplayNameFor(model => model.favoritoVM.nombreProducto)
                            </th>
                            <th>
                                <!-- Columna con el nombre de la categoria -->
                                @Html.DisplayNameFor(model => model.favoritoVM.nombreCategoria)
                            </th>
                            <th>
                                <!-- Columna con la marca -->
                                @Html.DisplayNameFor(model => model.favoritoVM.nombreMarca)
                            </th>
                        </tr>
                    </thead>
                    <tbody class="Favoritos-tabla-resultados" id="CuerpoResultados"></tbody>
                </table>
            </div>
        }
        else
        {
            <div class="Favoritos-contenedor-gif">
                <!-- Logotipo de Penguin -->
                <img src="~/img/Pinwino_triste.gif" alt="Pinwino triste" class="Favoritos-gif" id="PinwinoTriste">
                <p class="Favoritos-texto">No se han agregado favoritos</p>
            </div>
        }
    </div>
</div>

@if (Model.favoritos != "Sin resultados" && !(User.Identity == null || !User.Identity.IsAuthenticated))
{
    <!-- Paginación -->
    <div class="Favoritos-contenedor-paginacion">
        <div class="Favoritos-contenedor-caja-paginacion">
            <!-- Botón anterior -->
            <div id="PaginaPrevia" class="Favoritos-boton-paginacion" onclick="pasarPagina(favoritosVM.IndicePagina - 1)">
                Anterior
            </div>
            <div id="SinPaginaPrevia" class="Favoritos-boton-paginacion-deshabilitado">
                Anterior
            </div>

            <!-- Botones de número de página -->
            <span id="TextoPaginacion" class="Favoritos-texto-paginacion">  </span>

            <!-- botón siguiente -->
            <div id="PaginaSiguiente" class="Favoritos-boton-paginacion" onclick="pasarPagina(favoritosVM.IndicePagina + 1)">
                Siguiente
            </div>
            <div id="SinPaginaSiguiente" class="Favoritos-boton-paginacion-deshabilitado">
                Siguiente
            </div>
        </div>
    </div>
}

<!-- Script para mostrar un popUp y redireccionar -->
<script>
    var mensajeRedirect = "@ViewData["MensajeRedireccion"]";
    if (mensajeRedirect) {
        alert(mensajeRedirect);
        window.location.href = "/Home/Index";
    }
</script>

<!-- Script para renderizar los resultados de la tabla inicialmente -->
<script>
    if ('@Model.favoritos' != "Sin resultados") {
        var favoritosVM = paginar(paginaDefault);

        // Renderizar
        renderizarPaginacion();
        renderizarTabla(favoritosVM);
    }
</script>