@page
<!-- Pagina que sigue el modelo de perfil -->
@model ModeloPerfil

@{
    ViewData["Title"] = "Perfil";
}

<!-- Metadata -->
<head>
    <!-- Titulo de la página -->
    <title>Perfil</title>
    <!-- Cargar el archivo JavaScript para alinear -->
    <script src="~/js/Pages/alinear.js"></script>
    <!-- Incluir el archivo de CSS con los estilos de la página -->
    <link rel="stylesheet" href="~/css/Pages/Cuenta/Perfil.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/Pages/Shared/starability-growRotate.css" />
</head>

<!-- Contenido de la página -->
<body>
    <!-- Forms para guardar la información escrita en las cajas de texto al presionar el botón "Crear cuenta" -->
    <form method="post">
        <!-- Configuración para la validación del lado del cliente -->
        <div asp-validation-summary="ModelOnly" class="Perfil-texto-error"></div>
        <!-- Contenedor para todos los elementos en la página -->
        <div class="Perfil-contenedor-centrado-primario">
            <!-- Mensaje de error al no cumplir los atributos de validación del nombre de usuario del modelo vista -->
            <span asp-validation-for="usuarioActual.nombreDeUsuario" class="Perfil-texto-error"></span>
            <!-- Caja de texto para el nombre de usuario ligada al modelo vista -->
            <div class="Perfil-contenedor-caja-de-texto">
                <label asp-for="usuarioActual.nombreDeUsuario" for="CajaDeTextoUsuario">Usuario:</label>
                <input asp-for="usuarioActual.nombreDeUsuario" type="text" id="CajaDeTextoUsuario">
            </div>
            <!-- Mensaje de error al no cumplir los atributos de validación del correo del modelo vista -->
            <span asp-validation-for="usuarioActual.correo" class="Perfil-texto-error"></span>
            <!-- Caja de texto para el correo ligada al modelo vista -->
            <div class="Perfil-contenedor-caja-de-texto" style="margin-bottom: 2%;">
                <label asp-for="usuarioActual.correo" for="CajaDeTextoCorreo">Correo:</label>
                <input asp-for="usuarioActual.correo" type="email" id="CajaDeTextoCorreo" disabled>
            </div>
            <!-- Mensaje de error al no cumplir los atributos de validación del nombre de provincia del modelo vista -->
            <span asp-validation-for="usuarioActual.provinciaVivienda" class="Perfil-texto-error"></span>
            <!-- Caja de selección para la provincia ligada al modelo vista -->
            <div class="Perfil-contenedor-caja-de-texto">
                <label asp-for="usuarioActual.provinciaVivienda" for="CajaDeSeleccionProvincia">Provincia:</label>
                <select asp-for="usuarioActual.provinciaVivienda" id="CajaDeSeleccionProvincia">
                    <!-- Agrega la opción básica -->
                    <option value="">No deseo indicarla</option>
                    <!-- Agregar todas las provincias como opciones -->
                    @foreach (var provincia in Model.provincias)
                    {
                        <option value="@provincia.nombre">@provincia.nombre</option>
                    }
                </select>
            </div>
            <!-- Mensaje de error al no cumplir los atributos de validación del nombre de cantón del modelo vista -->
            <span asp-validation-for="usuarioActual.cantonVivienda" class="Perfil-texto-error"></span>
            <!-- Caja de texto para el cantón (deshabilitada) ligada al modelo vista -->
            <div class="Perfil-contenedor-caja-de-texto">
                <label asp-for="usuarioActual.cantonVivienda" for="CajaDeSeleccionCanton">Cantón:</label>
                <select asp-for="usuarioActual.cantonVivienda" id="CajaDeSeleccionCanton">>
                    <!-- Agrega la opción básica -->
                    <option value="">No deseo indicarlo</option>
                    @foreach (var canton in Model.cantones)
                    {
                        <option value="@canton.nombre">@canton.nombre</option>
                    }
                </select>
            </div>
            <!-- Mensaje de error al no cumplir los atributos de validación del nombre de distrito del modelo vista -->
            <span asp-validation-for="usuarioActual.distritoVivienda" class="Perfil-texto-error"></span>
            <!-- Caja de texto para la distrito (deshabilitada) ligada al modelo vista -->
            <div class="Perfil-contenedor-caja-de-texto" style="margin-bottom: 2%;">
                <label asp-for="usuarioActual.distritoVivienda" for="CajaDeSeleccionDistrito">Distrito:</label>
                <select asp-for="usuarioActual.distritoVivienda" id="CajaDeSeleccionDistrito">>
                    <!-- Agrega la opción básica -->
                    <option value="">No deseo indicarlo</option>
                    @foreach (var distrito in Model.distritos)
                    {
                        <option value="@distrito.nombre">@distrito.nombre</option>
                    }
                </select>
            </div>
            <div class="Perfil-contenedor-calificacion" style="margin-right: @(130 - Model.cantidadAportes.ToString().Length * 10)px;">
                <label class="Perfil-contenedor-calificacion-titulo">Calificación:</label>
                <p class="starability-result" data-rating="@Math.Round(Model.usuario.calificacion)"></p>
                <p class="Perfil-contenedor-calificacion-calificacion">@Model.usuario.calificacion.ToString("0.0") de 5,0</p>
                <p class="Perfil-contenedor-calificacion-conteo">(@Model.cantidadAportes)</p>
            </div>
            <!-- Botón para ver los aportes realizados por el usuario -->
            <button class="Perfil-boton-basico" asp-page="/Cuenta/Aportes"> Ver aportes </button>
            <!-- Botón para actualizar los datos del usuario -->
            <button class="Perfil-boton-basico" asp-page-handler="ActualizarUsuario"> Guardar cambios </button>
        </div>
    </form>

    <!-- Script para alinear cajas de texto -->
    <script>
        // Llamar a la función para alinear los contenedores de las cajas de texto
        alinearContenedoresDeBarrasDeTexto(".Perfil-contenedor-caja-de-texto", 98);
    </script>

    <!-- Script para mostrar popUp de error y redireccionar si se entra a la ventana
    sin estar loggeado-->
    <script>
        // Obtener el mensaje de redirección
        var mensaje = "@ViewData["Redireccionar"]";
        // Si existe un mensaje de redirección
        if (mensaje) {
            // Mostrar el popUp
            alert(mensaje);
            // Volver a la página de inicio
            window.location.href = "/Home/Index";
        }
    </script>

    <!-- Script para cambiar las opciones de las cajas de selección dinámicamente -->
    <script>
        // Obtiene las cajas de selección
        var cajaDeSeleccionProvincia = document.getElementById("CajaDeSeleccionProvincia");
        var cajaDeSeleccionCanton = document.getElementById("CajaDeSeleccionCanton");
        var cajaDeSeleccionDistrito = document.getElementById("CajaDeSeleccionDistrito");

        // Llamar a esta función cada vez que se produzca un cambio en
        // la caja de selección de provincia
        cajaDeSeleccionProvincia.addEventListener("change", function () {
            // Obtener la provincia seleccionada
            var provinciaSeleccionada = cajaDeSeleccionProvincia.value;

            // Limpiar las opciones de las otras cajas de selección
            cajaDeSeleccionCanton.innerHTML = "<option value=''>No deseo indicarlo</option>";
            cajaDeSeleccionDistrito.innerHTML = "<option value=''>No deseo indicarlo</option>";
            cajaDeSeleccionDistrito.disabled = true;

            // Si se eligió una provincia
            if (provinciaSeleccionada) {
                // Usar el Fetch API para llamar al handler de CantonesPorProvincia
                // con la provincia seleccionada
                fetch(`/Cuenta/Perfil?handler=CantonesPorProvincia&provincia=${provinciaSeleccionada}`)
                    .then(response => response.json())
                    .then(data => {
                        // Por cada cantón
                        data.forEach(canton => {
                            // Crear una opción
                            var opcion = document.createElement("option");
                            // Establecer su valor y texto de mostrado
                            opcion.value = canton.nombre;
                            opcion.text = canton.nombre;
                            // Agregarla a la caja de selección de cantón
                            cajaDeSeleccionCanton.appendChild(opcion);
                        });
                    });
                // Habilitar la caja de selección de cantón
                cajaDeSeleccionCanton.disabled = false;

            // Si no se eligió una provincia
            } else {
                // Deshabilitar las otras cajas de selección
                cajaDeSeleccionCanton.disabled = true;
            }
        });

        // Llamar a esta función cada vez que se produzca un cambio en
        // la caja de selección de cantón
        cajaDeSeleccionCanton.addEventListener("change", function () {
            // Obtener el cantón seleccionado
            var cantonSeleccionado = cajaDeSeleccionCanton.value;

            // Limpiar las opciones de la caja de selección de distrito
            cajaDeSeleccionDistrito.innerHTML = "<option value=''>No deseo indicarlo</option>";

            // Si se eligió un cantón
            if (cantonSeleccionado) {
                // Obtener la provincia seleccionada
                var provinciaSeleccionada = cajaDeSeleccionProvincia.value;
                // Usar el Fetch API para llamar al handler de DistritosPorCanton
                // con el cantón seleccionado
                fetch(`/Cuenta/Perfil?handler=DistritosPorCanton&provincia=${provinciaSeleccionada}&canton=${cantonSeleccionado}`)
                    .then(response => response.json())
                    .then(data => {
                        // Por cada distrito
                        data.forEach(distrito => {
                            // Crear una opción
                            var opcion = document.createElement("option");
                            // Establecer su valor y texto de mostrado
                            opcion.value = distrito.nombre;
                            opcion.text = distrito.nombre;
                            // Agregarla a la caja de selección de distrito
                            cajaDeSeleccionDistrito.appendChild(opcion);
                        });
                    });
                // Habilitar la caja de selección de distrito
                cajaDeSeleccionDistrito.disabled = false;

            // Si no se eligió un cantón
            } else {
                // Deshabilitar la caja de selección de distrito
                cajaDeSeleccionDistrito.disabled = true;
            }
        });
    </script>

    <!-- Sección para realizar validaciones de los datos del lado del cliente -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>