@page
@model LoCoMPro.Pages.Busqueda.Favoritos.VerProductosModel
@{
	ViewData["Title"] = "Productos favoritos en tienda";
}

<head>
    <title>Productos favoritos en tienda</title>
    <link rel="stylesheet" href="~/css/Pages/Busqueda/Favoritos/VerProductos.css" asp-append-version="true" />
    <script src="~/js/Pages/Busqueda/paginador.js" asp-append-version="true"></script>
    <script>

        function adaptarCaracteresEspeciales(cadena) {
            var elementoTemporal = document.createElement("div");
            elementoTemporal.innerHTML = cadena;
            return elementoTemporal.textContent;
        }

        function obtenerResultados() {
            var resultadosAdaptados = adaptarCaracteresEspeciales('@Model.favoritos')
            return JSON.parse(resultadosAdaptados);
        }

        // Cliente
        if ('@Model.favoritos' != "Sin resultados") {
            var resultados = obtenerResultados();
            var paginador = new Paginador(@Model.resultadosPorPagina);
            var paginaDefault = @Model.paginaDefault;
        }
    </script>
    <script src="~/js/Pages/Busqueda/Favoritos/VerProductos/cliente.js" asp-append-version="true"></script>
</head>

<!-- Script para mostrar un popUp y redireccionar -->
<script>
    var mensajeRedirect = "@ViewData["MensajeRedireccion"]";
    if (mensajeRedirect) {
        alert(mensajeRedirect);
        window.location.href = "/Home/Index";
    }
</script>

<!-- Script para renderizar los resultados de la tabla inicialmente -->
<script>
    if ('@Model.favoritos' != "Sin resultados") {
        var favoritosVM = paginar(paginaDefault);

        // Renderizar
        renderizarPaginacion();
        renderizarTabla(favoritosVM);
    }
</script>
