@page
@model ModelovVerReportes
@{
    ViewData["Title"] = "Ver reporte";
}

<!-- Metadatos -->
<head>
    <!-- Enlace al archivo CSS con los estilos de la página -->
    <!-- El valor true hace que la versión se agregue a la URL -->
    <link rel="stylesheet" href="~/css/Pages/Moderacion/VerReportes.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/Pages/Shared/starability-growRotate.css" asp-append-version="true" />
</head>

<body>
    <!-- Contenedor de todo en la página para estar alineado en columna -->
    <div class="VerReportes-contenedor-centrado-primario">
        @if (Model.reporte != null &&
            Model.registro != null &&
            Model.fotografias != null)
        {
            <!-- Rectángulo azúl -->
            <div class="VerReportes-contenedor-rectangular">
                <!-- Título del rectángulo -->
                <label class="VerReportes-contenedor-rectangular-titulo">Papas</label>
            
                <!-- Contenedor de fila invisible (Para foto y datos) -->
                <div class="VerReportes-contenedor-rectangular-subcontenedor-fila">
                    <!-- Foto y flechas -->
                    <div id="galeriaImagenes" class="VerReportes-GaleriaImagenes">
                        <div id="imagenAnterior" class="VerReportes-NavegacionImagen VerReportes-NavegacionImagen-Anterior" onclick="verImagenAnterior()">&lt;</div>
                        <div id="imagenActual" class="VerReportes-NavegacionImagen VerReportes-NavegacionImagen-ImagenActual">
                            <img id="vistaImagen" src="~/img/pinwino_no_disponible.png" alt="Product Image" class="VerReportes-Imagen">
                        </div>
                        <div id="siguienteImagen" class="VerReportes-NavegacionImagen VerReportes-NavegacionImagen-Siguiente" onclick="verImagenSiguiente()">&gt;</div>
                    </div>

                    <!-- Contenedor para los datos del registro, alineado en forma de columna (de filas de datos) -->
                    <div class="VerReportes-contenedor-rectangular-subcontenedor-columna" style="margin-left: 10%">
                        <!-- Primera fila -->
                        <div class="VerReportes-contenedor-rectangular-subcontenedor-fila">
                            <label class="VerReportes-label-corto"> <span class="subtitulo">Precio:</span> ₡@Model.registro.precio</label>
                            <label class="VerReportes-label-corto"> <span class="subtitulo">Tienda:</span> @Model.registro.tienda</label>
                            <label class="VerReportes-label-corto"> <span class="subtitulo">Fecha:</span> @Model.registro.fecha</label>
                        </div>

                        <!-- Segunda fila -->
                        <div class="VerReportes-contenedor-rectangular-subcontenedor-fila">
                            <label class="VerReportes-label-corto"> <span class="subtitulo">Unidad:</span> @Model.registro.unidad</label>
                            <label class="VerReportes-label-corto"> <span class="subtitulo">Provincia:</span> @Model.registro.provincia</label>
                            <label> <span class="subtitulo">Usuario:</span> @Model.registro.usuario</label>
                            </div>

                        <!-- Tercera fila -->
                        <div class="VerReportes-contenedor-rectangular-subcontenedor-fila">
                            <label class="VerReportes-label-corto"> <span class="subtitulo">Marca:</span> @Model.registro.marca</label>
                            <label class="VerReportes-label-corto"> <span class="subtitulo">Cantón:</span> @Model.registro.canton</label>
                            <!-- Estrellas y calificación del usuario -->
                            <div class="VerReportes-contenedor-calificacion">
                                <p class="starability-result" data-rating="@Math.Round(Model.registro.calificacionCreador)"></p>
                                <p class="VerReportes-contenedor-calificacion-calificacion">@Model.registro.calificacionCreador.ToString("0.0") de 5,0</p>
                                <p class="VerReportes-contenedor-calificacion-conteo">(5)</p>
                            </div>
                        </div>

                        <!-- Cuarta fila -->
                        <div class="VerReportes-contenedor-rectangular-subcontenedor-fila">
                            <label class="VerReportes-label-corto"> <span class="subtitulo">Categoría:</span> @Model.registro.categoria</label>
                        </div>

                        <!-- Quinta fila -->
                        <div class="VerReportes-contenedor-rectangular-subcontenedor-fila">
                            <label class="VerReportes-label-largo"> <span class="subtitulo">Descripción:</span> @Model.registro.descripcion.</label>
                        </div>

                        <!-- Sexta fila -->
                        <div class="VerReportes-contenedor-rectangular-subcontenedor-fila">
                            <!-- Estrellas y calificación del registro -->
                            <div class="VerReportes-contenedor-calificacion">
                                <p class="starability-result" data-rating="@Math.Round(Model.registro.calificacionRegistro)"></p>
                                <p class="VerReportes-contenedor-calificacion-calificacion">@Model.registro.calificacionRegistro.ToString("0.0") de 5,0</p>
                                <p class="VerReportes-contenedor-calificacion-conteo">(5)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rectángulo azúl -->
            <div class="VerReportes-contenedor-rectangular" style="margin-top: 40px;">
                <!-- Título del rectángulo -->
                <label class="VerReportes-contenedor-rectangular-titulo">Reporte</label>
                <!-- Contenedor para los datos del registro, alineado en forma de columna (de filas de datos) -->
                <div class="VerReportes-contenedor-rectangular-subcontenedor-columna" style="margin: 2%;">
                    <!-- Primera fila -->
                    <div class="VerReportes-contenedor-rectangular-subcontenedor-fila">
                        <label class="VerReportes-label-corto"> <span class="subtitulo">Por:</span> @Model.reporte.creador</label>
                        <!-- Estrellas y calificación del usuario -->
                        <div class="VerReportes-contenedor-calificacion" style="margin-left: -120px;">
                            <p class="starability-result" data-rating="@Math.Round(Model.reporte.calificacionCreador)"></p>
                            <p class="VerReportes-contenedor-calificacion-calificacion">@Model.reporte.calificacionCreador.ToString("0.0") de 5,0</p>
                            <p class="VerReportes-contenedor-calificacion-conteo">(5)</p>
                        </div>
                        <label class="VerReportes-label-corto" style="margin-left:auto; text-align:right;"> <span class="subtitulo">Fecha:</span> @Model.reporte.fecha</label>
                    </div>

                    <!-- Segunda fila -->
                    <div class="VerReportes-contenedor-rectangular-subcontenedor-fila">
                        <label class="VerReportes-label-largo"> <span class="subtitulo">Comentario:</span> @Model.reporte.comentario</label>
                    </div>
                </div>
            </div>

            <!-- Contenedor de alineado invisible -->
            <div class="VerReportes-contenedor-botones">
                <form method="post">
                    <!-- Botones ál final de la página que llaman métodos OnPost -->
                    <button asp-page-handler="Rechazar" id="BotonRechazar" style="margin-right: 110px;"> Rechazar reporte </button>
                    <button asp-page-handler="Aceptar" id="BotonAceptar"> Aceptar reporte </button>
                    <button asp-page-handler="Pasar" id="BotonPasar" style="margin-left: 110px;"> Pasar reporte </button>
                </form>
            </div>

            <script>
                // Inicializa galería de imágenes
                var imagenes = @Html.Raw(Json.Serialize(Model.fotografias));
                var indiceImagenActual = 0;
                var vistaImagen = document.getElementById("vistaImagen");
                var imagenAnterior = document.getElementById("imagenAnterior");
                var siguienteImagen = document.getElementById("siguienteImagen");

                function verImagenActual() {
                    if (imagenes && imagenes.length > 0 && indiceImagenActual >= 0 && indiceImagenActual < imagenes.length) {
                        vistaImagen.src = `data:image/jpeg;base64,${imagenes[indiceImagenActual].fotografia}`;
                    }
                    vistaImagen.className = "VerReportes-Imagen";
                    actualizarVisibilidadFlecha();
                }

                // Esconde las flechas si no hay fotos antes y/o después
                function actualizarVisibilidadFlecha() {
                    if (imagenes && imagenes.length > 0) {
                        if (indiceImagenActual <= 0) {
                            imagenAnterior.style.visibility = "hidden";
                        } else {
                            imagenAnterior.style.visibility = "visible";
                        }

                        if (indiceImagenActual >= imagenes.length - 1) {
                            siguienteImagen.style.visibility = "hidden";
                        } else {
                            siguienteImagen.style.visibility = "visible";
                        }
                    } else {
                        imagenAnterior.style.visibility = "hidden";
                        siguienteImagen.style.visibility = "hidden";
                    }
                }

                function verImagenAnterior() {
                    if (indiceImagenActual > 0) {
                        indiceImagenActual--;
                        verImagenActual();
                    }
                }

                function verImagenSiguiente() {
                    if (indiceImagenActual < imagenes.length - 1) {
                        indiceImagenActual++;
                        verImagenActual();
                    }
                }
                verImagenActual();
            </script>
        } else
        {
            <div class="VerReportes-contenedor-gif">
                <!-- Logotipo de Penguin -->
                <img src="~/img/Pinwino_feliz.gif" alt="Pinwino triste" class="VerReportes-gif" id="PinwinoFelíz">
                <p class="VerReportes-texto">Todos los reportes han sido revisados</p>
            </div>
        }
    </div>
</body>